.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  /* height: 50rem; */
  margin-bottom: 2rem;
  margin-top: 1rem;
  /* margin-bottom: 18rem; */
  /* padding-top: 3rem; */
  background-image: url("../../img/c.png");
  object-fit: cover !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mission-margin {
  margin-top: 5rem !important;
}
.straight {
  border: 1px solid #35beff;
  width: 14%;
}
.content-mission {
  color: #ececfb;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.all-content-mission {
  color: #ececfb;
  text-align: justify;
  margin-top: 1.5rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.mission-image {
  object-fit: cover;
  width: 100%;
}
/* left side */
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  /* gap: 20px; */
}

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}
.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}
/* right sided */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}



.inner-card-intro {
  position: absolute;
  top: -9.5rem;
  right: 0rem;
  width: 300.878px;
  /* height: 179px; */
  border-radius: 10px;
  border: 1px solid #35beff;
  background: linear-gradient( 104deg, rgba(3, 22, 48, 0.51) 0%, rgba(35, 55, 81, 0.03) 105.15% );
  /* Apply backdrop filter for blurring */
  backdrop-filter: blur(25px); /* Adjust the blur value as needed */
  padding: 0.6rem;
}
.card-items {
  display: flex;
  justify-content: space-between;
  color: #ececfb;
  text-align: justify;
  font-size: 15.061px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.602px;
}
.header-card {
  color: #ececfb;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
}
.date-card {
  color: #ececfb;
  text-align: justify;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.straight-line-card {
  border: 1px solid #ececfb;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}
.small-content-card {
  color: #dadada;
  text-align: justify;
  font-size: 10.041px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.402px;
}
.small-content-card-color {
  color: #00f4a3;
  text-align: right;
  font-size: 10.041px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.402px;
}
@media (min-width: 0px) and (max-width: 400px){
  .services {
    margin-top: 0;
    flex-direction: column;
    gap: 5rem;
    height:60rem;
    padding: 0;
    /* margin-bottom: 0px; */
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards > * {
    position: static;
  }
  .for-font{
    font-size: 16px !important;
  }
  .content-mission{
    font-size: 30px !important;
  }
  .inner-card-intro {
    position: absolute;
    top: -1rem;
    right: 0.5rem;
  }
}
@media only screen and (max-width: 767px) {
 
}